doctype html
html(lang="zh-Hant-TW")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  title 104人力銀行 快速找到適合你的工作
  link(rel="stylesheet", href="css/all.css")
body
  include partials/_header
  block content
  include partials/_footer
  include partials/_scripts